* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
  }

body {
    background: #4b4b4b;
    display: flex;
    flex-direction: column;
  }
  
/* game board */
  .memory-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 640px;
    margin: auto;
    /* display: flex; */
    flex-wrap: wrap;
    perspective: 1000px;
  }

/* score board */
.scoreboard {
  flex-direction: column;
}

/* Cards */
.memory-card {
  position: relative;
  width: 150px;
  height: 300px;
  border: 1px solid #ececee;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  background-color: white;
  border-radius: 1px;
  }

.memory-card:active {
    transform: scale(.95);
    transition: transform .6s;
  }

.memory-card.flip {
    transform: rotateY(180deg);
  }

  .back-face {
    position: absolute;
    border-radius: 5px;
    width: 150px;
    height: 300px;
    background: #3ac4ce;
    backface-visibility: hidden;
  }

  .front-face {
    position: absolute;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: cover;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-position: center;
    max-width: 100%;
  }
